.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --title-text-color: #353430;
  --main-heading-text-color: #ffc2e6;
  --section-title-text-color: #353430;
  --font-family: 'IBM Plex mono', monospace; 
  --header-decor-color: #353430;
  background-image: url(../images/cover-image-light.png); 
}

.theme_light .header-decor {
  display: none;
}

.theme_light .header-decor::after {
  display: none;
}

@media (prefers-color-scheme: light) {
:root { 
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --title-text-color: #353430;
  --main-heading-text-color: #ffc2e6;
  --section-title-text-color: #353430;
  --header-decor-color: #353430;
  --font-family: 'IBM Plex mono', monospace;
  }
  .page {
  background-image: url(../images/cover-image-light.png); 
  }
  .header-decor {
    display: none;
  }
  .header-decor::after {
    display: none;
  }
}