:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --title-text-color: #000028;
  --main-heading-text-color: #db00ff;
  --section-title-text-color: #ff0070;
  --header-decor-color: #ff0070;
  --font-family: 'IBM Plex mono', monospace;
  --S-size: 18px;
  --M-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --L-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}